{% load static %}
<!-- footer section starts  -->
<section class="footer bg-black">
    <h1>PFH.</h1>
    <div class="box-container">
      <div class="box">
        <h3>We are in</h3>
        <a href="#">gnit</a>
        <a href="#">behala</a>
        <a href="#">amtala</a>
        <a href="#">bata</a>
        <a href="#">new town</a>
      </div>

      <div class="box">
        <h3>quick links</h3>
        <a href="/">home</a>
        <a href="/dishes">dishes</a>
        <a href="/about">about</a>
        <a href="/feedback">feedback</a>
        <a href="#">order</a>
      </div>

      <div class="box">
        <h3>contact info</h3>
        <a href="#">+91-8240320429</a>
        <a href="#">+91-8583048329</a>
        <a href="#">+91-7003374388</a>
        <a href="#">abc@gmail.com</a>
        <a href="#">abc2@gmail.com</a>
        <a href="#">abc3@gmail.com</a>
        <a href="#">kolkata, india - 7000001</a>
      </div>

      <div class="box">
        <h3>follow us</h3>
        <a href="#">facebook</a>
        <a href="#">twitter</a>
        <a href="#">instagram</a>
        <a href="#">linkedin</a>
      </div>
    </div>

    <div class="credit">
      copyright @ 2022 by <span>group A</span>
    </div>
  </section>

  <!-- footer section ends -->