 {% load static %}
<!-- home section starts -->
<section class="home bg-blue" id="home">
    <div class="swiper home-slider">
        <div class="swiper-wrapper wrapper">
            <div class="swiper-slide slide">
                <div class="content">
                    <span>Our special dish</span>
                    <h3>Hakka Noodles</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias minus,voluptate quos.
                    </p>
                    <a href="/dishes" class="btn pink-btn">Our Menu</a>
                </div>
                <div class="image">
                    <img src="{% static 'images/home-img-1.png' %}" alt="" />
                </div>
            </div>

            <div class="swiper-slide slide">
                <div class="content">
                    <span>Our special dish</span>
                    <h3>chicken tanduri</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias minus,voluptate quos.
                    </p>
                    <a href="/dishes" class="btn pink-btn">Our Menu</a>
                </div>
                <div class="image">
                    <img src="{% static 'images/home-img-2.png' %}" alt="" />
                </div>
            </div>

            <div class="swiper-slide slide">
                <div class="content">
                    <span>Our special dish</span>
                    <h3>margarita</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias minus,voluptate quos.
                    </p>
                    <a href="/dishes" class="btn pink-btn">Our Menu</a>
                </div>
                <div class="image">
                    <img src="{% static 'images/home-img-3.png' %}" alt="" />
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</section>
<!-- home section ends -->
