{% load static %}
<!-- menu section starts -->
<section class="menu" id="menu">
    <h3 class="sub-heading">our menu</h3>
    <h3 class="heading">todays speciality</h3>

    <div class="box-container">
      <div class="box">
        <div class="image">
          <img src="{% static 'images/pep2.png' %}" alt="" srcset="" />
          <!-- <a href="#" class="fas fa-heart"></a> -->
        </div>
        <div class="content">
          <!-- <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
          </div> -->
          <h3>pepperoni pizza</h3>
          <!-- <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Inventore, rem dolorum? Beatae quisquam esse quod?
          </p> -->
          <a href="#" class="btn pink-btn">add to cart</a>
          <span class="price">₹ 15.99</span>
        </div>
      </div>

      <div class="box">
        <div class="image">
          <img src="{% static 'images/menu-2.jpg' %}" alt="" srcset="" />
          <!-- <a href="#" class="fas fa-heart"></a> -->
        </div>
        <div class="content">
          <!-- <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
          </div> -->
          <h3>black bean burger</h3>
          <!-- <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Inventore, rem dolorum? Beatae quisquam esse quod?
          </p> -->
          <a href="#" class="btn pink-btn">add to cart</a>
          <span class="price">₹ 15.99</span>
        </div>
      </div>

    </div>
  </section>
  <!-- menu section ends -->